<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Backend Assignment</title>
</head>
<body>
<h1>Hello</h1>
<h2>Implement APIs for the frontend (which you created via
  <a href="https://codesandbox.io/s/github/empitwa/assignment-frontend">
  https://codesandbox.io/s/github/empitwa/assignment-frontend</a>).
  See the comments marked with TODO in the code for more details.</h2>
<hr/>
<br>
Hint: This is the database schema being used:
<br>
<div style="margin: 3px; border: 1px solid black; border-radius: 5px; display: inline-block;">
  <code>
    category (id INTEGER PRIMARY KEY, cat INTEGER, line_id INTEGER)<br>
    line (id INTEGER PRIMARY KEY, project_id INTEGER, longitude REAL, latitude REAL)
  </code>
</div>
<hr/>
<h1>(backend)</h1>
</body>
</html>
